---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title='Contatti'
  description='Meta description for SEO, edit it for the contacts page.'
  siteName='Website Name'
  titleTemplate='%s | Website Name'
>
  <section>
      <h1>Contatti</h1>
  </section>
</Layout>
