---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout
  title='Homepage'
  description='Meta description for SEO, edit it for this page.'
  siteName='Website Name'
  titleTemplate='%s | Website Name'
>
  <h1>Homepage</h1>
  <Button href='/contatti'>Go to contacts</Button>
</Layout>
