---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout metadescription="meta description for SEO, EDIT IT">
	<h1>Homepage</h1>
	<Button type="1">Button</Button>
</Layout>
