---
import Favicon from "./components/Favicon.astro";
import MetadataSEO from "./components/MetadataSEO.astro";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";

import type { MetadataSEOProps } from "../types/types";

interface Props extends Partial<MetadataSEOProps> {
  lang?: string;
}
const { lang = "it", ...seo } = Astro.props;

//Import CSS
import "../assets/css/main.css";
---

<!doctype html>
<html lang={lang}>
  <head>
    <Favicon />
    <MetadataSEO {...seo} />
  </head>
  <body>
    <a class='skip-link' href='#main-content'>Skip to main content</a>
    <Header />
    <main id='main-content' tabindex='-1'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
