---
import Favicon from "./components/Favicon.astro";
import MetadataSEO from "./components/MetadataSEO.astro";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";

import type { MetadescriptionType } from "../types/types";

interface Props {
  metadescription: MetadescriptionType;
}
const { metadescription } = Astro.props;

//Import CSS
import "../assets/css/main.css";
---

<!doctype html>
<html lang='it'>
  <head>
    <Favicon />
    <MetadataSEO metadescription={metadescription} />
    <title>Pick a title</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
